
html, body
{
	height: 100%;
	margin: 0px;
}

#div_background
{
	height: 100%;
	z-index: 0;
}

#div_navigation_bar
{
	background-color: blue;
	height: 70px;
	width: 99%;

	position: absolute;
	top: 0%;

	/* Centers by being half of difference of width */
	left: .5%;

	padding-top: 5px;
	padding-bottom: 5px;

	z-index: 1;
}

.button_background
{
	background-color: lightblue;
	height: 100%;
	width:  100%;
	border: none;
}

.button_test
{
	background-color: red;
	height: 100%;
	width: 100%;
	border: none;
}

.img_navigation_icon
{
	height: 64px;
	width: 64px;
}

.a_circle
{	
	display: inline-block;
	border-radius: 32px;
	position: relative;
	height: 64px;
	width: 64px;
}

a.a_circle:link, a.a_circle:visited
{
	background-color: white;
}

a.a_circle:hover
{
	opacity: 75%;
}

.a_rounded
{	
	display: inline-block;
	border-radius: 5px;
	position: relative;
	height: 64px;
	width: 64px;
}

a.a_rounded:link, a.a_rounded:visited
{
	background-color: white;
}

a.a_rounded:hover
{
	opacity: 75%;
}