:root
{
	--color-background: lightblue;
	--color-search-bar: white;
	--color-container: lightcyan;


	--navigation-bar-height: 10%;
	--navigation-content-padding: 10px;
	--navigation-content-max-h: 64px;
	--navigation-content-min-h: 32px;
	--navigation-content-max-w: 64px;
	--navigation-content-min-w: 32px;

	--container-border-radius: 8px;
	--search-bar-height: 45px;
	--body-container-width: 49.25%;
}

html, body
{
	height: 100%;
	margin: 0px;
	font-family: Helvetica, sans-serif;
}

#div_background
{
	background-color: var(--color-background);
	position: relative;
	height: 100%;
	z-index: 0;
}

#div_navigation_bar
{
	background-color: var(--color-container);

	height: var(--navigation-bar-height);
	width: 99%;

	min-height: 70px;

	margin: 6px .5% 3px .5%;
	display: inline-flex;
	border-radius: var(--container-border-radius);
	z-index: 1;
}

#div_body_left
{
	background-color: var(--color-container);

	top: var(--navigation-bar-height);
	left: 0%;

	width: var(--body-container-width);
	height: 86.5%;

	margin: 3px .25% 6px .5%;

		display: flex;

	float: left;
	border-radius: var(--container-border-radius);
	z-index: 1;
}

#div_body_right
{
	background-color: var(--color-container);

	top: var(--navigation-bar-height);
	right: 0%;

	width: var(--body-container-width);
	height: 86.5%;

	margin: 3px .5% 6px .25%;

	float: right;
	border-radius: var(--container-border-radius);
	z-index: 1;
}

#form_search_bar
{
	height: 7.5%;
	min-height: var(--search-bar-height);
	min-width: 4rem;
	margin: 6px 9px 3px 6px;
	flex-grow: 1;
	float: left;
	border-radius: var(--container-border-radius);
	z-index: 2;
}

#h_navigation_title
{

	padding-left: var(--navigation-content-padding);
	
	height: 100%;

	max-height: var(--navigation-content-max-h);
	min-height: var(--navigation-content-min-h);

	z-index: 2;
}

#span_navigation_left
{
	white-space:nowrap;
}

#span_navigation_right
{
	align-self: center;
	margin-left: auto;
	margin-right: 0;
	white-space:nowrap;
}

#input_search_bar
{
	width: 100%;
	height: var(--search-bar-height);
	border: none;
	border-radius: var(--container-border-radius);
	font-size: 150%;
}

#input_search_bar:focus
{
	border-color: lightblue;
	color: gray;
}

#button_search_submit
{
	border: none;
	border-radius: var(--search-bar-height);
	float: right;
	margin: 6px 6px 3px auto;
	width: var(--search-bar-height);
	height: var(--search-bar-height);
	max-width: var(--search-bar-height);
}

.img_navigation_icon
{	
	width: 100%;
	height: 100%;

	background-color: white;

	min-width: var(--navigation-content-min-w);
	max-width: var(--navigation-content-max-w);
	min-height: var(--navigation-content-min-h);
	max-height: var(--navigation-content-max-h);

	z-index: 2;
}

.a_navigation_icon
{
	float: right;
	padding-right: var(--navigation-content-padding);

	min-width: var(--navigation-content-min-w);
	max-width: var(--navigation-content-max-w);
	min-height: var(--navigation-content-min-h);
	max-height: var(--navigation-content-max-h);

}

a.a_navigation_icon:hover
{
	opacity: 75%;
}
